<p-dialog [(visible)]="subjectDialog" [style]="{ width: '650px' }" header="Subject Details" [modal]="true"
  styleClass="p-fluid bg-white rounded-lg shadow-lg" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
  [draggable]="false" [resizable]="false" (onHide)="hideDialog()">

  <ng-template pTemplate="header">
    <div class="flex items-center gap-2 text-xl font-semibold text-gray-800">
      <i class="pi pi-book"></i>
      <span>Subject Details</span>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="subjectForm()" (ngSubmit)="saveSubject()" novalidate>
      <div class="grid grid-cols-1 gap-6 p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <div class="field">
            <label for="Code" class="block text-gray-700 font-medium mb-2">Code</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-tag"></i>
              <input type="text" pInputText id="Code" formControlName="Code" class="w-full p-inputtext-sm"
                placeholder="Enter Code" />
            </span>
          </div>

          <div class="field">
            <label for="Name" class="block text-gray-700 font-medium mb-2">Name *</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-info-circle"></i>
              <input type="text" pInputText id="Name" formControlName="Name"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && subjectForm().get('Name')?.invalid }"
                class="w-full p-inputtext-sm" placeholder="Enter Name" />
            </span>
            <small class="p-error block mt-1" *ngIf="submitted && subjectForm().get('Name')?.invalid">
              <i class="pi pi-exclamation-circle mr-1"></i>Name is required
            </small>
          </div>
        </div>


        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <div class="field">
            <label for="StartDate" class="block text-gray-700 font-medium mb-2">Start Date *</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-info-circle"></i>
              <input type="date" pInputText id="StartDate" formControlName="StartDate"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && subjectForm().get('StartDate')?.invalid }"
                class="w-full p-inputtext-sm" placeholder="Enter StartDate" />
            </span>
            <small class="p-error block mt-1" *ngIf="submitted && subjectForm().get('StartDate')?.invalid">
              <i class="pi pi-exclamation-circle mr-1"></i>Start Date is required
            </small>
          </div>

          <div class="field">
            <label for="EndDate" class="block text-gray-700 font-medium mb-2">End Date *</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-info-circle"></i>
              <input type="date" pInputText id="EndDate" formControlName="EndDate"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && subjectForm().get('EndDate')?.invalid }"
                class="w-full p-inputtext-sm" placeholder="Enter EndDate" />
            </span>
            <small class="p-error block mt-1" *ngIf="submitted && subjectForm().get('EndDate')?.invalid">
              <i class="pi pi-exclamation-circle mr-1"></i>End Date is required
            </small>
          </div>
        </div>

        <div class="field">
          <label for="ProfessorId" class="block text-gray-700 font-medium mb-2">Professor</label>
          <p-dropdown [options]="professors" formControlName="ProfessorId" [filter]="true" filterBy="FullName"
            optionLabel="FullName" placeholder="Select a Professor" optionValue="Id" required
            styleClass="w-full p-inputtext-sm" [panelStyleClass]="'text-sm'" [showClear]="true">
          </p-dropdown>
          <small class="p-error block mt-1" *ngIf="submitted && subjectForm().get('ProfessorId')?.invalid">
            <i class="pi pi-exclamation-circle mr-1"></i>Professor is required
          </small>
        </div>

        <div class="field">
          <label for="Description" class="block text-gray-700 font-medium mb-2">Description</label>
          <textarea type="text" pInputTextarea id="Description" formControlName="Description"
            class="w-full p-inputtext-sm" rows="4" placeholder="Enter subject description"></textarea>
        </div>


        <div class="field">
          <div class="flex items-center">
            <p-checkbox id="Enabled" formControlName="Enabled" [binary]="true" styleClass="mr-2"></p-checkbox>
            <label for="Enabled" class="text-gray-900 text-sm sm:text-base">Enabled</label>
          </div>
        </div>
      </div>

      <div class="flex justify-end gap-2 px-4 py-2 mt-3">
        <p-button label="Cancel" type="button" icon="pi pi-times" (click)="hideDialog()"
          styleClass="p-button-text p-button-secondary">
        </p-button>
        <p-button label="Save" type="submit" icon="pi pi-save" (click)="saveSubject()" styleClass="p-button-success">
        </p-button>
      </div>
    </form>
  </ng-template>
</p-dialog>