<p-dialog [(visible)]="studentDialog" [style]="{ width: '650px' }" header="Student Details" [modal]="true"
  styleClass="p-fluid bg-white rounded-lg shadow-lg" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
  [draggable]="false" [resizable]="false" (onHide)="hideDialog()">

  <ng-template pTemplate="header">
    <div class="flex items-center gap-2 text-xl font-semibold text-gray-800">
      <i class="pi pi-book"></i>
      <span>Student Details</span>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="studentForm()" (ngSubmit)="saveStudent()" novalidate>
      <div class="grid grid-cols-1 gap-6 p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <div class="field">
            <label for="FirstName" class="block text-gray-700 font-medium mb-2">First Name *</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-info-circle"></i>
              <input type="text" pInputText id="FirstName" formControlName="FirstName"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && studentForm().get('FirstName')?.invalid }"
                class="w-full p-inputtext-sm" placeholder="Enter user FirstName" />
            </span>
            <small class="p-error block mt-1" *ngIf="submitted && studentForm().get('FirstName')?.invalid">
              <i class="pi pi-exclamation-circle mr-1"></i>First Name is required
            </small>
          </div>

          <div class="field">
            <label for="LastName" class="block text-gray-700 font-medium mb-2">Last Name *</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-info-circle"></i>
              <input type="text" pInputText id="LastName" formControlName="LastName"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && studentForm().get('LastName')?.invalid }"
                class="w-full p-inputtext-sm" placeholder="Enter user LastName" />
            </span>
            <small class="p-error block mt-1" *ngIf="submitted && studentForm().get('LastName')?.invalid">
              <i class="pi pi-exclamation-circle mr-1"></i>Last Name is required
            </small>
          </div>

          <div class="field">
            <label for="DateOfBirth" class="block text-gray-700 font-medium mb-2">Date Of Birth *</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-info-circle"></i>
              <input type="date" pInputText id="DateOfBirth" formControlName="DateOfBirth"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && studentForm().get('DateOfBirth')?.invalid }"
                class="w-full p-inputtext-sm" placeholder="Enter DateOfBirth" />
            </span>
            <small class="p-error block mt-1" *ngIf="submitted && studentForm().get('DateOfBirth')?.invalid">
              <i class="pi pi-exclamation-circle mr-1"></i>Date Of Birth is required
            </small>
          </div>

          <div class="field">
            <label for="Gender" class="block text-gray-700 font-medium mb-2">Gender</label>
            <p-dropdown [options]="genderOptions" formControlName="Gender" [filter]="true" filterBy="Name"
              optionLabel="Name" placeholder="Select Gender" optionValue="Id" styleClass="w-full p-inputtext-sm"
              [panelStyleClass]="'text-sm'" [showClear]="true">
            </p-dropdown>
          </div>

          <div class="field">
            <label for="NationalityId" class="block text-gray-700 font-medium mb-2">Nationality</label>
            <p-dropdown [options]="nationalities" formControlName="NationalityId" [filter]="true" filterBy="Name"
              optionLabel="Name" placeholder="Select a Nationality" optionValue="Id" styleClass="w-full p-inputtext-sm"
              [panelStyleClass]="'text-sm'" [showClear]="true">
            </p-dropdown>
          </div>

          <div class="field">
            <label for="Code" class="block text-gray-700 font-medium mb-2">Code</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-tag"></i>
              <input type="text" pInputText id="Code" formControlName="Code" class="w-full p-inputtext-sm"
                placeholder="Enter Code" />
            </span>
          </div>

          <div class="field">
            <label for="EmailAddress" class="block text-gray-700 font-medium mb-2">Email Address</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-info-circle"></i>
              <input type="text" pInputText id="EmailAddress" formControlName="EmailAddress"
                class="w-full p-inputtext-sm" placeholder="Enter student Email Address" />
            </span>
          </div>

          <div class="field">
            <label for="PhoneNumber" class="block text-gray-700 font-medium mb-2">Phone Number</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-tag"></i>
              <input type="text" pInputText id="PhoneNumber" formControlName="PhoneNumber" class="w-full p-inputtext-sm"
                placeholder="Enter Phone Number" />
            </span>
          </div>

          <div class="field">
            <label for="ParentName" class="block text-gray-700 font-medium mb-2">Parent Name</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-tag"></i>
              <input type="text" pInputText id="ParentName" formControlName="ParentName" class="w-full p-inputtext-sm"
                placeholder="Enter Parent Name" />
            </span>
          </div>

          <div class="field">
            <label for="ParentPhoneNumber" class="block text-gray-700 font-medium mb-2">Parent Phone Number</label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-tag"></i>
              <input type="text" pInputText id="ParentPhoneNumber" formControlName="ParentPhoneNumber" class="w-full p-inputtext-sm"
                placeholder="Enter Parent Phone Number" />
            </span>
          </div>
        </div>

        <div class="field">
          <label for="Address" class="block text-gray-700 font-medium mb-2">Address</label>
          <textarea type="text" pInputTextarea id="Address" formControlName="Address"
            class="w-full p-inputtext-sm" rows="3" placeholder="Enter address"></textarea>
        </div>
      </div>

      <div class="flex justify-end gap-2 px-4 py-2 mt-3">
        <p-button label="Cancel" type="button" icon="pi pi-times" (click)="hideDialog()"
          styleClass="p-button-text p-button-secondary">
        </p-button>
        <p-button label="Save" type="submit" icon="pi pi-save" (click)="saveStudent()" styleClass="p-button-success">
        </p-button>
      </div>
    </form>
  </ng-template>
</p-dialog>